logs/

atpg/*
!atpg/scripts/

fault_simulation/*
!fault_simulation/custom_tool/
!fault_simulation/scripts/
!fault_simulation/scripts/zoix/elaboration
!fault_simulation/scripts/zoix/strobe

plot/*
!plot/scripts/

power/*
!power/scripts/

simulation/*
!simulation/elaboration/
!simulation/scripts/


synthesis/*
!synthesis/scripts/


application/
!application/scripts/

.vscode/
*.vcd
*.evcd


design/libs/

*__pycache__*

## ignore setup_default cfgs
setup_default\_*